$primary-color: #3152F3;
$primary-color-dark: #0b5ed7;
$primary-color-light: #EDF7FF;
$white: #ffffff;
$black-10: #F5F9FA;
$black-20: #F0F0F0;
$black-40: #D7DFE6;
$black-50: #9FA0A4;
$black-60: #98A4AE;
$black-70: #333333;
$black-80: #1f1f1f;
$black-90: #181818;
$light-background: #F9FAFD;
$black: #000000;
$border-color: #e1e1e1;
$error-color: #F15E4A;
$success-color: #198754;
$warring-color-light: #fff3cd;